<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CBN ML Pipeline Management </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A project management Bootstrap theme by Medium Rare"
    />
    {% comment %}
    <link
      href="https://cbn-assets-ui.s3.amazonaws.com/assets/img/favicon.ico"
      rel="icon"
      type="image/x-icon"
    />
    {% endcomment %}
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1"
      rel="stylesheet"
    />
    <link
      href="https://cbn-assets-ui.s3.amazonaws.com/assets/css/theme.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% comment %} {% include 'style.html' %} {% endcomment %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <style>
      .custom-nav {
        background-color: #ffffff !important;
      }

      .nav-link {
        color: black !important;
      }

      .nav-link:hover {
        color: #48b68e;
      }

      .custom-button {
        background: #48b68e !important;
        border: #48b68e !important;
      }

      .custom-button-text {
        color: #48b68e !important;
      }
      .custom-color {
      }
      .custom-sub-card-header {
        background-color: #f5f8fa;
      }
    </style>
  </head>

  <body>
    <div class="layout layout-nav-top">
      <div
        class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top custom-nav shadow"
      >
        <a class="navbar-brand" href="index.html">
          <img
            alt="Pipeline"
            src="https://cbn-assets-ui.s3.amazonaws.com/assets/img/logo.svg"
          />
        </a>
        <div class="d-flex align-items-center">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-controls="navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-block d-lg-none ml-2">
            <div class="dropdown">
              <a
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class=" text-success h4 bi bi-list"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item text-success">Log out</a>
                <a class="dropdown-item text-success" href="{% url 'home' %}"  >Users</a>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="">Admin</a>
            </li>

          

          </ul>
          <div class="d-lg-flex align-items-center">
            <ul class="navbar-nav">
  
              
             
  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"  >Users</a>
              </li>
 
              <li class="nav-item">
                <a class="nav-link text-black" href="{% url 'logout' %}">logout</a>
              </li>

            </ul>
            
            
          </div>
        </div>
      </div>

    <main class="container">
      <div class="row">
        <div class="col-12">
          {% comment %} {% include "alerts.html" %} {% endcomment %}
          <div class="mt-4">
            <h1> Add a new Model</h1>
          </div>

          <form class="" action="{% url 'add_model' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {% comment %} Group name {% endcomment %}
              <label for="name" class="form-label mt-4"
                >Name</label
              >
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="emailHelp"
                placeholder="name"
                name="name"
              />
               {% comment %} Current Stage{% endcomment %}
               <label for="current_stage" class="form-label mt-4"
               >Current Stage</label
             >
             <select class="form-control" id="current_stage" name="current_stage">
              <option selected>Choose...</option>
              <option value="production">Production</option>
              <option value="stage">Staging</option>
              <option value="development">Development</option>
            </select>
              {% comment %} Version {% endcomment %}
              <label for="version" class="form-label mt-4"
                >Version</label
              >
              <input
                type="text"
                class="form-control"
                id="version"
                aria-describedby="emailHelp"
                placeholder="version"
                name="version"
              />
               {% comment %} Description {% endcomment %}
               <label for="name" class="form-label mt-4"
               >Description</label
             >
            
             <textarea class="form-control"
             id="description"
             aria-describedby="emailHelp"
             placeholder="description"
             name="description" rows="3">

             </textarea>
              {% comment %} Status {% endcomment %}
              {% comment %} <label for="name" class="form-label mt-4"
                >Status</label
              >
              <input
                type="text"
                class="form-control"
                id="status"
                aria-describedby="emailHelp"
                placeholder="status"
                name="status"
              /> {% endcomment %}
              <label for="model_author" class="form-label mt-4"
              >Model author</label
            >
            <input
              type="text"
              class="form-control"
              id="model_author"
              aria-describedby="emailHelp"
              placeholder="model author"
              name="model_author"
            />

            <label for="model_url" class="form-label mt-4"
                >Model url</label
              >
              <input
                type="text"
                class="form-control"
                id="model_url"
                aria-describedby="emailHelp"
                placeholder="model url"
                name="model_url"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-lg">add Model</button>
          </form>
        </div>
      </div>
    </main>
     <!-- Required vendor scripts (Do not remove) -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/jquery.min.js"></script>
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/popper.min.js"></script>
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/bootstrap.js"></script>
 
     <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->
 
     <!-- Autosize - resizes textarea inputs as user types -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/autosize.min.js"></script>
     <!-- Flatpickr (calendar/date/time picker UI) -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/flatpickr.min.js"></script>
     <!-- Prism - displays formatted code boxes -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/prism.js"></script>
     <!-- Shopify Draggable - drag, drop and sort items on page -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/draggable.bundle.legacy.js"></script>
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/swap-animation.js"></script>
     <!-- Dropzone - drag and drop files onto the page for uploading -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/dropzone.min.js"></script>
     <!-- List.js - filter list elements -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/list.min.js"></script>
 
     <!-- Required theme scripts (Do not remove) -->
     <script type="text/javascript" src="https://cbn-assets-ui.s3.amazonaws.com/assets/js/theme.js"></script>
  </body>
</html>
